
udi/gyakorlat/python/jupyter.ipynb
*.ipynb
tex/beadando2.toc
tex/beadando2.synctex.gz
tex/beadando2.pdf
tex/beadando2.nav
tex/beadando2.log
tex/beadando2.aux
tex/circle.png
tex/deltoid.png
tex/dodecagon.png
tex/paralelogram.png
tex/rectangle.png
tex/rhombus.png
tex/right_triangle.png
tex/square.png
tex/trapeze.png
tex/Botlo_Bence_Balazs_2.rar
tex/beadando2.toc
tex/beadando2.synctex.gz
tex/beadando2.nav
tex/beadando2.pdf
tex/beadando2.log
tex/beadando2.aux
tex/beadando2.toc
tex/beadando2.synctex.gz
tex/beadando2.nav
tex/beadando2.pdf
tex/beadando2.log
tex/beadando2.aux
tex/beadando2.toc
tex/beadando2.synctex.gz
tex/beadando2.nav
tex/beadando2.pdf
tex/beadando2.log
tex/beadando2.aux
tex/beadando2.toc
tex/beadando2.synctex.gz
tex/beadando2.nav
tex/beadando2.pdf
tex/beadando2.log
tex/beadando2.aux
tex/beadando2.aux
tex/beadando2.log
tex/beadando2.aux
tex/beadando2.log
tex/beadando2.nav
tex/beadando2.pdf
tex/beadando2.synctex.gz
tex/beadando2.toc
tex/beadando2.toc
tex/beadando2.toc
