body {
	margin: 0;
}

header {
	background-image: url(logo.jpg);
	height: 300px;
}

p,
h3,
h1 {
	padding: 10px;
	margin: 0;
}

h1 {
	font-size: 20pt;
}

header p {
	font-family: sans-serif;
	text-align: center;
	padding: 0;
	padding-top: 90px;
}

header img {
	height: 72pt;
}

a {
	color: rgb(116, 170, 156);
}

body {
	background-color: #00a67e;
}

header {
	width: 100%;
	text-align: center;
}

header img {
	display: inline-block;
	margin: 0 auto;
}

header p {
	font-size: 72pt;
	color: white;
}

.hr1 {
	border-bottom: 1px solid gray;
}

main {
	width: 80%;
	margin-left: 10%;
	background-color: white;
}

.row {
	overflow: hidden;
}
.w5 {
	width: 25%;
	float: left;
}

@media only screen and (max-width: 1100px) {
	.w5 {
		width: 50%;
		float: left;
	}
}

th {
	background-color: rgb(116, 170, 156);
}

tbody tr:nth-child(odd) td {
	background-color: rgb(197, 219, 214);
}

table {
	width: 100%;
}

.hr1-bottom {
	border-bottom: 1px solid gray;
	margin-bottom: 10px;
}

footer {
	background-color: #4d635e;
}

footer p {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 16pt;
}
